<h2 mat-dialog-title>Rejestracja</h2>
<mat-dialog-content class="mat-typography modal-form">
  <app-alert *ngIf="showMessageServerError" text="Serwis czasowo niedostępny" alertType="error"></app-alert>
  <app-alert *ngIf="showMessageEmailInUse" text="Email zajęty" alertType="error"></app-alert>
  <app-alert *ngIf="showMessageRegisterSucceed" text="Udało się zarejestrować. Możesz teraz się zalogować" alertType="success"></app-alert>
  <form [formGroup]="registerForm" (ngSubmit)="register()">

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="email?.errors?.required && submitted">
        Pole wymagane
      </mat-error>
      <mat-error
        *ngIf="!email?.errors?.required && email?.errors?.email && submitted">
        Niepoprawny email
      </mat-error>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Hasło</mat-label>
        <input formControlName="password" [type]="'password'" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="password?.errors?.required && submitted">
        Pole wymagane
      </mat-error>

      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Anuluj</button>
        <button type="submit" mat-flat-button color="primary">Zarejestruj</button>
      </mat-dialog-actions>
  </form>
</mat-dialog-content>

